@model EditLinkViewModel

@{
}
<h1> Les modifications du lien c'est par ici</h1>
<p>@Model.monLien.Title</p>
<p>@Model.monLien.Description</p>
<p>@Model.monLien.URL</p>
<p>@Model.monLien.Auteur.UserForeName</p>
<p>@Model.monLien.Auteur.UserSurName</p>
<p>@Model.monLien.Auteur.UserEmail</p>





